:root {
    --primary-color: rgba(254, 163, 1, 1);
    --secondary-color: rgba(1, 172, 253, 1);
    --blue: rgba(93, 88, 239, 1);
    --light-sky: rgba(100, 200, 255, 1);
    --light-green: rgba(149, 178, 38, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: rgba(255, 255, 255, 1);
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.8rem;
}

h2 {}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

img {
    width: 100%;
}

/* common shared styles */
.p_btn {
    width: 197px;
    padding: 10px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 600;
}

.s_btn {
    width: 197px;
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 600;
}

.p_width {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
}

/* navbar style  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav_link {
    list-style: none;
    gap: 32px;
    font-size: 1.1rem;
    font-weight: 700;
}

.nav_link a {
    text-decoration: none;

}

.nav_img {
    display: none;
}



/* banner style  */
.banner {
    gap: 3.1rem;
}

.banner_content {
    width: 60%;
}

.banner_content p {
    padding: 1.5rem 0;
}

.banner_img {
    width: calc(100%-60%-33.1rem);
}

/* responsive design  */

@media screen and (max-width:576px) {

    /* navbar responsive  */
    .nav_logo>h3 {
        display: none;
    }

    .nav_link {
        display: none;
    }

    .nav_btn {
        display: none;
    }

    .nav_img {
        display: block;
    }

    /* banner responsive  */
    .banner {
        flex-direction: column-reverse;
        padding: 20px 0;
        text-align: center;

    }
    .banner h1{
        font-size: 2rem;
        line-height: normal;
    }
    .banner p{
        font-size: 1rem;
    }
    .banner_content {
        width: 100%;
    }


    .banner_img {
        width: 100%;
    }
}